---
import Layout from '../layouts/Layout.astro';
import SwiperItem from '../components/SwiperItem.astro';
import SwiperItemData from '../data/swiper_items.json';
import HeaderItem from '../components/HeaderItem.astro';

import ThemeSwitch from "../components/ThemeSwitch.astro";
import ThemeDownload from "../components/ThemeDownload.astro";
---

<Layout title="Bienvenidos a mi portfolio.">
	<main>	
		<div class="snap-container">
			<HeaderItem/>
			{
				SwiperItemData.map( (item) => {
					return (
						<SwiperItem
							id={item.id}
							description={item.description}
							title={item.title}
							url={item.url}
							technologies={item.technologies}
							img={item.img}
						/>
					);
				})
			}
		</div>	
		
		<ThemeSwitch />
		<ThemeDownload />
				
	</main>
	
</Layout>

<script>
  const els = document.querySelectorAll(".fade-el");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-slideUp"); // dispara animación
		entry.target.classList.remove("opacity-0");
      }
    });
  }, { threshold: 0.5 });

  els.forEach(el => observer.observe(el));

  const scrollEl = document.querySelector('.container');
let isDown = false;
let startY, scrollTop;

scrollEl.addEventListener('mousedown', e => {
  isDown = true;
  startY = e.clientY;
  scrollTop = scrollEl.scrollTop;
  e.preventDefault();
});

scrollEl.addEventListener('mouseup', () => isDown = false);
scrollEl.addEventListener('mouseleave', () => isDown = false);

scrollEl.addEventListener('mousemove', e => {
  if (!isDown) return;
  scrollEl.scrollTop = scrollTop - (e.clientY - startY);
});

</script>

