---
import Layout from '../layouts/Layout.astro';
import SwiperItem from '../components/MainItem.astro';
import SwiperItem from '../components/SwiperItem.astro';
import SwiperItemData from '../data/swiper_items.json';
import MainItem from '../components/MainItem.astro';
---

<Layout title="Bienvenidos a dp.">
	<main>
		
	<MainItem/>
	{
		SwiperItemData.map( (item) => {
			return (
				<SwiperItem
				id={item.id}
				description={item.description}
				title={item.title}
				url={item.url}
				technologies={item.technologies}
				images={item.images}
				/>
			);
		})
	}

	</main>
</Layout>



<script src="../libs/slider_simple.js"></script>